.venv/
__pycache__/
*.pyc
mlruns/
mlartifacts/
models/
monitoring/alerts_log.json
mlflow.db
.pytest_cache/
*.egg-info/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.lock.info
terraform/.terraform.lock.hcl
terraform/terraform.tfvars